In [408]:
import pandas as pd
from config import api_key_anthropic

In [409]:
# !pip install -q anthropic

In [ ]:
# -------------------- 1-Needle --------------------
# dataset_path = "datasets/Haystack_Needles/Incongruous/1-Needle/mBBC_2024/Claude/Vietnamese_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/1-Needle/mBBC_2024/Claude/Indonesian_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/1-Needle/mBBC_2024/Claude/Somali_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/1-Needle/mBBC_2024/Claude/Swahili_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/1-Needle/mBBC_2024/Claude/Azeri_needles.csv"

# -------------------- 2-Needles --------------------
# dataset_path = "datasets/Haystack_Needles/Incongruous/2-Needles/Claude/English_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/2-Needles/Claude/Vietnamese_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/2-Needles/Claude/Indonesian_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/2-Needles/Claude/Swahili_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/2-Needles/Claude/Somali_needles.csv"

# -------------------- 3-Needles --------------------
# dataset_path = "datasets/Haystack_Needles/Incongruous/3-Needles/Claude/English_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/3-Needles/Claude/Vietnamese_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/3-Needles/Claude/Indonesian_needles.csv"
# dataset_path = "datasets/Haystack_Needles/Incongruous/3-Needles/Claude/Swahili_needles.csv"
dataset_path = "datasets/Haystack_Needles/Incongruous/3-Needles/Claude/Somali_needles.csv"

eng_needles = pd.read_csv(dataset_path)
eng_needles.head(7)

,context_length,position,text,city1,label1,city2,label2,city3,label3
0,2k,0,Lambarka gaarka ah ee Copenhagen waa 5537106 ...,Copenhagen,5537106,Belgrade,7359378,Dimishiq,5806219
1,2k,25,Qaarada Afrika waxaa jira haween kaalin muuqat...,Lisbon,1368888,Copenhagen,9454797,Kampala,7828717
2,2k,50,Qaarada Afrika waxaa jira haween kaalin muuqat...,Paris,2746006,Seoul,6299468,Magaalada Mexico,9949878
3,2k,75,Qaarada Afrika waxaa jira haween kaalin muuqat...,Bengaluru,1359065,Thimphu,5516744,Johannesburg,5795163
4,8k,0,Lambarka gaarka ah ee Almaty waa 8766917 Qaar...,Almaty,8766917,Johannesburg,5143756,Dimishiq,1031477
5,8k,25,Qaarada Afrika waxaa jira haween kaalin muuqat...,Almaty,4814063,Kigali,5227812,Nairobi,5555003
6,8k,50,Qaarada Afrika waxaa jira haween kaalin muuqat...,Ho Chi Minh,6136463,Kigali,3011491,Yangon,9140175

In [533]:
import anthropic

API_KEY = api_key_anthropic
client = anthropic.Anthropic(
    api_key = API_KEY
)

## 1-Needle

In [311]:
model_name = "claude-3-sonnet-20240229"
generated_text_8 = []
max_tokens = 50


for text in eng_needles["text"][24:]:
    # prompt = f"{text}\nHere is the magic number:"
    prompt = f'''
        You are a helpful AI bot that answers questions for a user. Keep your response short and direct.
        The following is a set of context and a question that will relate to the context. 
        #CONTEXT
        {text}
        #ENDCONTEXT
        
        #QUESTION
        What is the special magic {{}} number? Don't give information outside the document or repeat your findings. If the
        information is not available in the context respond UNANSWERABLE.
        '''
    
    response = client.messages.create(
        model=model_name,
        max_tokens=max_tokens,
        # temperature=0.0,
        # system="Respond only in Yoda-speak.",
        messages=[
            {"role": "user", "content": prompt}
        ]
    )

    generated_text_8.append(response.content[0].text)

In [312]:
len(generated_text_1), len(generated_text_2), len(generated_text_3), len(generated_text_4), len(generated_text_5), len(generated_text_6), len(generated_text_7), len(generated_text_8)

(12, 4, 2, 2, 1, 1, 2, 1)

In [313]:
generated_text = generated_text_1 + generated_text_2 + generated_text_3 + generated_text_4 + generated_text_5 + generated_text_6 + generated_text_7 + generated_text_8
len(generated_text)

25

In [314]:
# Evalutaion

haystack_lang = "aze"
prompt_lang = "eng"

def check_label(row):
    if str(row['label']) in row['generated_text']:
        return 1
    else:
        return 0

eng_needles['generated_text'] = generated_text
eng_needles['found'] = eng_needles.apply(check_label, axis=1)
eng_needles.to_csv(f"outputs/Incongruous/1-Needle/mBBC_2024/Claude/claude-3_{haystack_lang}_{prompt_lang}_fixed.csv", index=False)

## 2-Needle

In [486]:
model_name = "claude-3-sonnet-20240229"
generated_text_2 = []
max_tokens = 20

for text in eng_needles["text"][10:]:
    prompt = f'''You are a helpful AI bot that answers questions for a user. Keep your response short and direct.
The following is a set of context and a question that will relate to the context. 
#CONTEXT
{text}
#ENDCONTEXT

#QUESTION
What is the larger magic number? Don't give information outside the document or repeat your findings. 
If the information is not available in the context respond UNANSWERABLE.
'''
    
    response = client.messages.create(
        model=model_name,
        max_tokens=max_tokens,
        messages=[
            {"role": "user", "content": prompt}
        ]
    )

    generated_text_2.append(response.content[0].text)

In [487]:
generated_text_ori = generated_text_1 + generated_text_2
len(generated_text_ori)

20

In [488]:
def evaluate_2needle_v2(df):    
    df['bigger_label'] = df.apply(lambda row: row['label1'] if row['label1'] > row['label2'] else row['label2'], axis=1)
    df['found'] = df['bigger_label'].astype(str).apply(lambda x: df['generated_text'].str.contains(x).any()).astype(int)
    return df

In [489]:
haystack_lang = "eng"
prompt_lang = "som"

# eng_needles = pd.read_csv(f"outputs/Incongruous/2-Needles/mBBC_2024/Claude/claude_3_sonnet_{haystack_lang}.csv")
eng_needles['generated_text'] = generated_text_ori

eng_needles = evaluate_2needle_v2(eng_needles)
eng_needles.to_csv(f"outputs/Incongruous/2-Needles/mBBC_2024/Claude/claude_3_sonnet_{haystack_lang}_{prompt_lang}_number.csv", index=False)
eng_needles.head()

,context_length,position,text,city1,label1,city2,label2,generated_text,bigger_label,found
0,2k,0,Lambarka gaarka ah ee Melbourne waa 6320879 ...,Melbourne,6320879,Colombo,8973756,UNANSWERABLE,8973756,0
1,2k,25,Qaarada Afrika waxaa jira haween kaalin muuqat...,Istanbul,9153537,Paris,7852531,UNANSWERABLE,9153537,0
2,2k,50,Qaarada Afrika waxaa jira haween kaalin muuqat...,Nairobi,1018761,Rabat,2184116,UNANSWERABLE,2184116,0
3,2k,75,Qaarada Afrika waxaa jira haween kaalin muuqat...,Bratislava,8537246,Tokyo,8240005,UNANSWERABLE,8537246,0
4,8k,0,Lambarka gaarka ah ee Ho Chi Minh waa 7610479...,Ho Chi Minh,7610479,Tashkent,2224825,The context does not provide any information a...,7610479,0

## 3-Needle

In [536]:
model_name = "claude-3-sonnet-20240229"
generated_text_2 = []
max_tokens = 20

for text in eng_needles["text"][13:]:
    prompt = f'''You are a helpful AI bot that answers questions for a user. Keep your response short and direct.
The following is a set of context and a question that will relate to the context. 
#CONTEXT
{text}
#ENDCONTEXT

#QUESTION
What is the largest magic number? Don't give information outside the document or repeat your findings. 
If the information is not available in the context respond UNANSWERABLE.
'''
    
    response = client.messages.create(
        model=model_name,
        max_tokens=max_tokens,
        messages=[
            {"role": "user", "content": prompt}
        ]
    )

    generated_text_2.append(response.content[0].text)

In [537]:
generated_text_ori = generated_text_1 + generated_text_2
len(generated_text_ori)

20

In [538]:
def evaluate_3needle_v2(df):    
    df['bigger_label'] = df.apply(lambda row: row['label1'] if row['label1'] > row['label2'] else row['label2'], axis=1)
    df['found'] = df['bigger_label'].astype(str).apply(lambda x: df['generated_text'].str.contains(x).any()).astype(int)
    return df

In [539]:
haystack_lang = "som"
prompt_lang = "eng"

eng_needles['generated_text'] = generated_text_ori

eng_needles = evaluate_2needle_v2(eng_needles)
eng_needles.to_csv(f"outputs/Incongruous/3-Needles/mBBC_2024/Claude/claude_3_sonnet_{haystack_lang}_{prompt_lang}_number.csv", index=False)
eng_needles.head()

,context_length,position,text,city1,label1,city2,label2,city3,label3,generated_text,bigger_label,found
0,2k,0,Lambarka gaarka ah ee Copenhagen waa 5537106 ...,Copenhagen,5537106,Belgrade,7359378,Dimishiq,5806219,UNANSWERABLE,7359378,0
1,2k,25,Qaarada Afrika waxaa jira haween kaalin muuqat...,Lisbon,1368888,Copenhagen,9454797,Kampala,7828717,UNANSWERABLE,9454797,0
2,2k,50,Qaarada Afrika waxaa jira haween kaalin muuqat...,Paris,2746006,Seoul,6299468,Magaalada Mexico,9949878,UNANSWERABLE,6299468,0
3,2k,75,Qaarada Afrika waxaa jira haween kaalin muuqat...,Bengaluru,1359065,Thimphu,5516744,Johannesburg,5795163,UNANSWERABLE,5516744,0
4,8k,0,Lambarka gaarka ah ee Almaty waa 8766917 Qaar...,Almaty,8766917,Johannesburg,5143756,Dimishiq,1031477,"The context does not mention any ""largest magi...",8766917,0